<script src="/js/owl-carousel/owl.carousel.js"></script>
    <script>
        $(function() {
            $("#owl-example").owlCarousel({
                navigation : true, // Show next and prev buttons
                slideSpeed : 800,
                paginationSpeed : 800,
                autoPlay : true,
                singleItem:true
            });
        });
    </script>
    
    <script>
        $(function(){
            $("#sujets").click(function(){
                // On recup le Json
                $.ajax({
                    type: 'GET',
                    url: '',
                    timeout: 300,
                    success: function(data){
                        //instuctions en cas de success
                        $.getJSON(data, function(data){
                            
                        });
                    },
                    error: function(){
                        
                    }
                });
                $("#owl-example .owl-item").each(function(index){
                    $(this).hide();
                });
                $(this).attr("class", "active");
                $("#posts").attr("class", "");
            });
            $("#posts").click(function(){
                $(".owl-item").show();
                $(this).attr("class", "active");
                $("#sujets").attr("class", "");
            });
        });
    </script>